/* App Preferences */
html, body { height: 100%; }
body {
  background-color: #fafafa;
  overflow-x: hidden;
  /*user-select: none;*/ /* Disable text highlighting */
}

/* Class Helpers */

.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }

.justify-align { text-align: justify; }

.clear { clear: both; }
.hide { display: none; }